body {
background-color: #2F3E46;
max-width: 1080px;
  margin: auto;
}
header {
background-color: #354F52;
color: White;
height: 200px;
text-align: center;
}
nav {
background-color: #2F3E46;
color: White;
height: 50px;
padding: 5px 60px;
}
section {
background-color: #52796F;
padding: 20px;
}
article {
height: 100px;
width: 400px;
background-color: #354F52;
padding: 20px;
margin: 10px;
}
aside {
float: right;
background-color: #CAD2C5;
padding: 50px;
}
footer {
background-color: #354F52;
color: White;
height: 100px;
text-align: center;
padding: 50px;
}
h1 {
font-size: 50px;
line-height: 50px;
margin: 0;
}
h3 {
font-size: 20px;
text-align: left;
line-height: 20px;
margin: 0;
}
p {
color: #CAD2C5;
font-size: 16px; 
}
ol {
padding: 0px 10px;
list-style-type: none;
}
ul {list-style-type: square;
}
a {
line-height: 50px;
color: #FFFFFF;
border: 2px solid #FFFFFF;
margin-left: 5px;
padding: 5px 5px;
}
.row {
display: flex;
flex-wrap: wrap;
padding: 10px;
}
.column {
  flex: 50%;
  padding: 0 4px;
}
.column img {
  width: 300px;
  margin-top: 8px;
  vertical-align: middle;
}
.text {
width: 600px;
background-color: #354F52;
padding: 20px;
}
.cvkuva {
border-radius: 50%;
width: 150px;
float: right;
padding: 30px 100px;
}
.header {
float: left;
padding: 60px;
}
.article {
width: 300px;
float: right;
text-align: left;
}
h4 {
display: inline;
}
.skills {
padding: 10px 0px;
line-height: 25px;
}