body {
background-color: Ivory;
color: black;
}
header {
background-color: Grey;
float: center;
color: White;
height: 100px;
text-align: center;
vertical-align: center;
}
nav {
background-color: Black
color: White;
float: left;
}
aside {
float: right;
}
h1 {
display:inline;
font-size: 35px;
border: 2px solid #000000;
border-radius: 25px;
margin: 0;
padding: 10px 20px;
}
p {
background-color: Lavender;
color: darkblue;
font-size: 16px; 
}
ol {list-style-type: upper-latin;
}
ul {list-style-type: square;
}
.profile-image {
width: 200px;
height: 200px;
border-style: dotted;
border-width: 2px;
}
.background {
width: 300px;
height: 100px;
background-color: #ABBAEA;
margin: 20px;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
a {
color: #FFFFFF;
border: 2px solid #FFFFFF;
margin: 0;
padding: 5px 5px;
}
.image1 {
  display: inline-block;
  vertical-align: top;
  margin: 16px;	
}
.image2 {
  display: inline-block;
  vertical-align: top;
}