body {
background-color: Ivory;
color: black;
}
h1 {
font-size: 35px;
}
p {
background-color: Lavender;
color: darkblue;
font-size: 16px; 
}
ol {list-style-type: upper-latin;
}
ul {list-style-type: square;
}